<h2 style = "text-align: center"><%= link_to("Home", root_path) %></h2>
<h2 style = "text-align: center"><%= link_to("New post", new_post_path) if current_user && current_user.is_admin? %></h2>

<div>
  <% @posts.each do |post|  %>
    <h2><%= link_to(post.title, post_path(post.id)) %></h2>
    <p><%= post.created_at.strftime("%F") %></p>
  	<p><%= post.content %></p>
	<% end %>
</div>
